### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk
/.idea/.gitignore
/.idea/Agentheim-Opencode.iml
/.idea/modules.xml
/.idea/vcs.xml
